table.tabla {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
    border: rgb(0, 195, 255) 3px solid;
}

th {
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(131, 229, 233);
    border:rgb(0, 195, 255) 1px solid;
}

td {
    border: rgb(0, 195, 255) 1px solid;
    padding-right: 20px;
}

tr {
    background-color: rgb(223, 205, 205);
}

tr.linea1 {
    background-color: rgb(34, 78, 104);
}

tr.linea3 {
    background-color: rgb(124, 202, 157);
}
